* Data Types,variables
* string
* swopping 
* operators 
* formated string
* slicing
* Lists

***Data types,variables

In [2]:
print(4)

4

In [1]:
print("python")

python

In [3]:
x=print("Yuvi")

Yuvi

In [6]:
print(type(x))

<class 'NoneType'>

In [7]:
x,y,z="anks",67,9.89

In [8]:
print(type(z))

<class 'float'>

#id tells the location of the variable in the backend

In [9]:
print(id(x))

4448928912

***String

In [10]:
single_string='It's a single string'  # You cant add single quote in between single quote string
single_string

SyntaxError: invalid syntax (<ipython-input-10-51901fa7b5e2>, line 1)

In [5]:
double_string="It's a double string"
print(double_string)

It's a double string

***convatination is done only within string not intiger and string

In [12]:
a=5
b=2.3
print(a+b)

7.3

In [14]:
str="abc"
print(str + a)

TypeError: can only concatenate str (not "int") to str

***Swopping

In [22]:
a,b=b,a
print("a=",a)
print("b=",b)

a= 2.3
b= 5

***operator

In [24]:
result=3+4.0/2*5 #DMAS rule
result

13.0

In [25]:
#module operator % ............use to calculate reminder

In [28]:
reminder=17%10
reminder

7

In [31]:
# x ^ n (power)

In [33]:
x=5
n=4
print(x ** n)

625

In [35]:
nstr="abc"
ans=nstr*10
ans

'abcabcabcabcabcabcabcabcabcabc'

In [36]:
len(ans)

30

***formated string

In [38]:
#formate specifier

In [45]:
name="Ankita"
print("%s is a data scientist!"%name)   #format specifer is used during input and output. 
#It is a way to tell the compiler what type of data is in a variable during taking input

Ankita is a data scientist!

In [47]:
name.upper()

'ANKITA'

In [48]:
name.lower()

'ankita'

In [49]:
name.capitalize()

'Ankita'

***string slicing..................can be used in list

In [50]:
name="Ankita"   #lets check at which location the k is present
name.index("k")

2

In [52]:
name[2:5]

'kit'

In [53]:
name[2:5:2]

'kt'

***LIST..............are very similar ti array

In [54]:
alist=[3,4,5]
alist

[3, 4, 5]

In [75]:
alist=["ankita",3,4,5]
alist

['ankita', 3, 4, 5]

In [66]:
alist.append(10)
alist

['ankita', 3, 4, 5, 10]

In [67]:
alist.pop()
alist

['ankita', 3, 4, 5]

In [68]:
alist[3]

5

In [69]:
alist[1:]

[3, 4, 5]

In [70]:
#list can also contain a list inside

In [76]:

alist.append([1,2,3])
alist

['ankita', 3, 4, 5, [1, 2, 3]]

In [77]:
alist*2

['ankita', 3, 4, 5, [1, 2, 3], 'ankita', 3, 4, 5, [1, 2, 3]]

In [78]:
alist + alist

['ankita', 3, 4, 5, [1, 2, 3], 'ankita', 3, 4, 5, [1, 2, 3]]