* 2D lists 
* tuples
* Dictionaries 
* Conditional statements
* range
* Python Functions 
* Loops 
* functions

In [4]:
alist=["Tom",23,"Yuvi",23.4,"Mahim"]
print(alist)

['Tom', 23, 'Yuvi', 23.4, 'Mahim']

In [5]:
alist.append()

TypeError: append() takes exactly one argument (0 given)

In [6]:
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> sum
Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

***2D lists

In [11]:
blist=[["Tom", 20],
       [45, "Ram"]]
blist

[['Tom', 20], [45, 'Ram']]

In [15]:
blist[0]

['Tom', 20]

In [16]:
blist[0][0]

'Tom'

In [17]:
blist[1][1]

'Ram'

In [21]:
blist[-1]

[45, 'Ram']

In [24]:
blist.append(["kim",0])

In [25]:
blist

[['Tom', 20], [45, 'Ram'], ['kim', 0]]

In [28]:
a=[0]*5
a

[0, 0, 0, 0, 0]

In [31]:
cols=5
rows=4
a=[[1]*cols]*rows
a

[[1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]

***tuples          Tuples are faster than lists.protected-one can not change the data ,it stores the data
                    like strings it is immutable cant change
                    indexing is done in (tuples and strings )as well as in list

In [32]:
#tuples are compound data types
#like lists it is a ordered sequence it has comma seperated values 
#tuples are immutable...we can not change them

In [34]:
tup1=("tom",78)
tup1

('tom', 78)

In [36]:
tup2=("sam",89)
tup2

('sam', 89)

In [38]:
tup3=(tup1+tup2)
tup3

('tom', 78, 'sam', 89)

In [40]:
len(tup3)

4

***Dictionaries

In [50]:
country_code={"India":1,"USA":2,"China":3}
country_code

{'India': 1, 'USA': 2, 'China': 3}

In [45]:
print(country_code["China"])

3

In [51]:
country_code["UAE"]=4
country_code

{'India': 1, 'USA': 2, 'China': 3, 'UAE': 4}

In [52]:
"India" in country_code

True

In [53]:
"pakistan" in country_code

False

In [55]:
x=True
type(x)

bool

***conditional statements

***Loop

In [57]:
color="red"
if color == "red":
    print("its red color")

print("problem solved")

its red color
problem solved

In [56]:
a=1
b=2
print(a == b)
print(a <= b)
print(a >= b)
print(a != b)

False
True
False
True

color="green"
if color == "red":
    print("its red color")
elif:
    print("green color")

print("problem solved")

In [60]:

color="red"
if color == "red":
    print("its red color")

print("problem solved")

its red color
problem solved

In [61]:

color="green"
if color == "red":
    print("its red color")
else:
    print("color not red")
print("problem solved")

color not red
problem solved

In [63]:

color="green"
if color == "red":
    
    print("its red color")
elif color == "green":
    print("Its a green")
    
else:
    print("color not red")
print("problem solved")

Its a green
problem solved

***AND,OR,NOT

In [65]:
#0 stands for false
#any other value is true

In [67]:
a=0
print (a!=0)
a

False

0

In [68]:
a=2
print (a!=0)
a

True

2

In [70]:
a=0
not(a)

True

In [71]:
score=75

***range

In [72]:
range(5)

range(0, 5)

In [73]:
for i in range(5):
    print(i)

0
1
2
3
4

In [79]:
for i in range(5):
    product=5*i
    print(i)

0
1
2
3
4

In [86]:
for i in range(1,10,2):
    product= 8 * i
    print(product)

8
24
40
56
72

In [91]:
names=("ankita","yuvaan","satyajeet")
for i in names:
    print(i.upper())

ANKITA
YUVAAN
SATYAJEET

In [92]:
names=("ankita","yuvaan","satyajeet")
for i in names:
    print(i.capitalize())

Ankita
Yuvaan
Satyajeet

In [94]:
age=[7,55,26,12,5]
i=0
while i < len(age):
    if age[i] >= 18:
        print("adult")
    else:
        print ("juvinile")
    i += 1

juvinile
adult
adult
juvinile
juvinile

In [97]:
names=("ankita","yuvaan","satyajeet","xyz")
i=0
while i < len(names):
    if names[i] != "xyz":
        print ("True")
    else:
        print("False")
    i += 1

True
True
True
False

***List comprihension.........#does a work in single line

In [100]:
cubes=[i**3 for i in range(10)]
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [103]:
cubes=[]
for i in range(10):
    print(i ** 3)

0
1
8
27
64
125
216
343
512
729

In [104]:
cubes=[]
for i in range(1,10):
    cubes.append(i ** 3)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

***Python Functions

In [107]:
def add_two_numbers(a,b):
    sum=a+b
    print("sum=",sum)
    return 
add_two_numbers(2,3)

sum= 5

In [106]:
def add_two_numbers(a,b):
    sum =a+b
    return sum
add_two_numbers(2,3)

5

In [113]:
def fahr_to_cel(temp):
    """ this function converts temp from farhanite to celious..
    Args:
    temp fahr_to_cel means farhanite to celicious
    returns 
    temp in celcious
    """
    tempInCel=(temp-32)*5/9
    return tempInCel
fahr_to_cel (50)

10.0

In [144]:
#Python Exercise: Find numbers which are divisible by 7 and multiple of 5 between a range

n=[]
for i in range(25,500):
    if (i % 7 ==0) and (i % 5 ==0):
        n.append(str(i))
print(','.join(n))

35,70,105,140,175,210,245,280,315,350,385,420,455,490

In [140]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [145]:

n=[]
for i in range(25,500):
    if (i % 7 ==0) and (i % 5 ==0):
        n.append(i)
print(n)

[35, 70, 105, 140, 175, 210, 245, 280, 315, 350, 385, 420, 455, 490]

In [ ]:
'''2. Write a Python program to convert temperatures to and from celsius, fahrenheit. Go to the editor
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]
Expected Output :
60°C is 140 in Fahrenheit
45°F is 7 in Celsius'''

In [2]:
def cel_to_frh(temp):
    tempincel= (5/9) * (temp - 32)
    return tempincel
cel_to_frh(40)

4.444444444444445

In [3]:
temp = input("Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : ")
degree = int(temp[:-1])
i_convention = temp[-1]

if i_convention.upper() == "C":
  result = int(round((9 * degree) / 5 + 32))
  o_convention = "Fahrenheit"
elif i_convention.upper() == "F":
  result = int(round((degree - 32) * 5 / 9))
  o_convention = "Celsius"
else:
  print("Input proper convention.")
  quit()
print("The temperature in", o_convention, "is", result, "degrees.")

Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : 40F
The temperature in Celsius is 4 degrees.

In [ ]:
'''Write a Python program to guess a number between 1 to 9. Go to the editor
Note : User is prompted to enter a guess. If the user guesses wrong then the prompt appears 
again until the guess is correct, on successful guess, user will get a "Well guessed!" message, 
and the program will exit.'''

In [1]:
#Exercise

In [2]:
#Q1: What would be the output of the following code block?
count = 4
print(count == 2)
print(count != 4)
print(count > 4)
print(count < 6)

False
False
False
True

In [5]:
#Q2: What would be the output of the following code block?
color = "red"
category = "fruit"

if color == "red" and category == "fruit":
    print("We have an Apple!")

if color == "red" and category == "vegetable":
    print("We have tomatoes")

We have an Apple!

In [6]:
#Q3: What would be the output of the following code block?
requested = ['blueberry', 'banana']
fruits = ['apple', 'banana', 'watermelon', 'kiwi', 'rasberry']

if requested not in fruits:
    print("Sorry, We don't have bananas in stock. Please review your order!")

else:
    print("Order is placed!")

Sorry, We don't have bananas in stock. Please review your order!

In [8]:
#Q4: What would be the output of the following code block?
scores1 = [1,2,3]
scores2 = [1,2,3]

print(scores1 == scores2)

True

In [9]:
#Q5: What would be the output of the following code block? Learn about 'is' operator.¶
scores1 = [1,2,3]
scores2 = [1,2,3]

print(scores1 == scores2)
print(scores1 is scores2)

True
False